*{
  font-weight: 700;
}
.backCart {
  width: 90vw;
  height: 80vh;
  position: fixed;
  background-color: rgba(64, 207, 56, 0.8);
  /* background-color: #23252b; */
  padding-top: 5rem;
  color: black;
 
}

.removeCart{
  position: absolute;
  right: 0;
}
.backCart h3 {
  font-size: 2rem;
}
.totalCart {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.backCart li {
  font-size: 2rem;
  display: flex;
  justify-content: left;
  justify-content: space-between;
  padding: 1rem;
}
.Cart {
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.7);
}
.closeCart {
  position: absolute;
  top: 5rem;
  right: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.lessCart {
  cursor: pointer;
  
  /* background-color: #5D3A07; */
  margin-left: 1rem;
}
.moreLess{
  margin-left: 2rem;
 
}
.moreCart, .lessCart{
  

  border-radius: 50%;
  /* background-color: #5D3A07; */
  color: orange;

  height: 10px;
}
.moreCart {
margin-right: 1rem;
  cursor: pointer;

}
.achatCart {
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
  color: orange;
  background-color: #5d3a07;
 

}
.achat {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
