* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  color: black;
  font-size: 1.5rem;
  font-weight: 900;

}
.menuCart{
  display: flex;
  font-size: 2rem;
  
}
.menuCart i{
  padding: .5rem;

}
.menuHeader .burger {
  left: 0;
  
  
}
.innerMenu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 3rem;
  display: none;
}
.innerMenu li {
  padding: 0.5rem;
}
.innerMenu a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.innerMenu a:visited {
  color: black;
}
.innerMenu a:hover {
  color: green;
}



.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  height: 60px;
  box-shadow: 15px 1px 15px 5px rgb(73, 69, 69);
  background-color: rgb(93, 58, 7);
 
}
.dNone {
  display: none;
}
.dBlock {
  display: block;
}
.dFlex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .innerMenu {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: center;
  }

  .burger i {
    display: none;
  }
}
